/*  Variables   */

$white : #FFFFFF;
/* Global Styles */

*{
    margin: 0px;
    paddin: 0px;
}

.cf:before,.cf:after {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}
.body{
    font-family: "Open Sans", Helvetica, sans-serif;
}


/*    Header Styles */
#header{
    padding: 1rem;
    background-color: $white;
    .title{
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 2rem 0 5rem;
        font-size: 1.5rem;
        color: #3f3d4e;
    }
    .movies-menu{
        float: right;
        font-weight: 700;
        margin: -21px 9px 0 0;
        a{
            text-decoration: none;
            padding: 0 41px 0 0;
            color: #3f3d4e;
        }
        a:hover{
            color: #005781;
        }
    }
}

.banner{
    background-image:url('../images/banner_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    width: 100%;
    .wrapper{
        width: 60%;
        margin: 0 auto;
        height: 65%;
        .movie-poster{
            border-radius: 1rem;
            img{
                margin: 5rem 0 0 0;
                width: 14rem;
            }
        }
        .movie-details{
                color:  $white;
                bottom: 250px;
                width: 500px;
                float: right;
                margin-top: -250px;
            .movie-title{
                margin: 0;
                display: inline-block;
            }
            .movie-rating{
                display: inline-block;
                color: #7cc576;
                position: relative;
                margin: 0 0 0 0.75rem;
                top: -2px;
                .inactive{
                    color: rgba(250, 250, 250, 0.25);
                }
            }
            .movie-description{
                line-height: 1.4rem;
            }
            .movie-type{
                margin: 2rem 0 0 0;
                font-weight: 700;
                span{
                    margin: 0 0.5rem;
                }
            }
        }
    }
}

#popular-movies{
    width: 100%;
    .header{
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        color: #3f3d4e;
        padding: 2rem 0 2rem 0;
        margin-top: 2rem;
    }
    .movies-wrapper{
        .img-wrapper{
            display: inline-block;
            width: 13%;
            text-align: center;
            margin: 2.5rem 1.4rem .5rem 1.4rem;
            a{
                width: 100%;
                img{
                    border-radius: 0.25rem;
                    width: 100%;
                    height: 40%;
                }
            }
            h3{
                margin: 0.5rem 0 0 0;
                color: #6a6a6a;
            }
            .movie-details{
                font-size: 0.8rem;
                color: #b1b1b1;
            }
        }
    }
}

#popular-shows{
    background-color: #3f3d4e;
    .header{
        text-align: center;
        font-weight: 700;
        font-size: 3rem;
        color: white;
        padding: 4rem 0 2rem 0;
        margin-top: 2rem;
    }
    .shows-wrapper{
        padding: 0 0 4rem 0;
        .img-wrapper{
            width: 12%;
            display: inline-block;
            margin: 1.8rem 1.85rem 0 1.85rem;
            text-align: center;
            color: #f4f4f4;
            a{
                img{
                    width: 100%;
                    height: 40%;
                    border-radius: .3rem;
                }
            }
            h3{
                margin: 0.5rem 0 0 0;
            }
            .show-details{
                font-size: 0.8rem;
                color: #b1b1b1;
            }
        }
    }
}

#subscription{
    background-color: #E9E9EB;
    text-align: center;
    .subscription-wrapper{
        padding: 2rem;
        h2{
            width: 40%;
            margin: 0 auto;
        }
        .user-details{
            margin: 2rem 0 2rem 0;
            input[type="text"]{
                    margin: 0 1rem 0 1rem;
                    text-indent: 1rem;
                    height: 8%;
                    border: none;
                    border-radius: 0.4rem;
                    width: 20%;
                    background-color: #464451;
                    color: $white;
            }
        }
        .btn-highlight{
            background-color: #79A75D;
            color: white;
            border: none;
            border-radius: 5rem;
            width: 10rem;
            height: 3rem;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

#copyright{
    text-align: center;
    .wrapper{
        padding: 2rem 0 2rem 0;
        p{
            font-weight:300;
            span{
                color: #207740;
                font-weight: 700;
            }
        }
    }
}